{% set breadcrumbs = "true" %}

{% extends "layout_picker.html" %}

{% block page_title %}
  Home page
{% endblock %}

{% block content %}



<main id="content" role="main">


<div class="grid-row">
<div class="column-full">
<h1 class="heading-large">Title</h1>
</div>

{% for i in range(0, 9) -%}
<div class="column-one-third">

<h3 class="heading-small"><a href="content">This is the article title</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo...</p>
<p><a href="content">Learn more</a></p>
</div>
{%- endfor %}
</div>



</main>
{% endblock %}
